<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px;">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	       <input type="hidden" name="orderId" th:value="${order.orderId}"/>
	   	   <table cellpadding="5">
	   	    <tr>
	   	    <td>公司名称:</td>
                 <td colspan="5"><input class="easyui-validatebox" type="text" style="width: 500px;" name="orderCompany" th:value="${order.orderCompany}"></input></td>
	   	    </tr>
	   	         <tr>
                    <td>公司电话:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderCompanyPhone" th:value="${order.orderCompanyPhone}"></input></td>
                    <td>公司传真:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderCompanyFax" th:value="${order.orderCompanyFax}"></input></td>
                    <td>公司网址:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderCompanyWebsite" th:value="${order.orderCompanyWebsite}"></input></td>
                </tr>
                <tr>
                <td>订货日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="orderDate" th:value="${order.orderDate}"></input></td>
                 <td>价格组:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderPriceGroup" th:value="${order.orderPriceGroup}"></input></td>
                <td>客户单号:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderNumber" th:value="${order.orderNumber}"></input></td>
                </tr>
                <tr>
                <td>是否加急:</td>
                    <td>
                         <select class="easyui-combobox" name="orderUrgent" style="width: 150px;">
                           <option value="1" th:selected="${#strings.contains(order.orderUrgent,1)}">是</option>
                           <option value="0" th:selected="${#strings.contains(order.orderUrgent,0)}">否</option>
                         </select>
                    </td>
                 <td>销售员:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderSeller" th:value="${order.orderSeller}"></input></td>
                <td>交货日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="orderDeliveryDate" th:value="${order.orderDeliveryDate}"></input></td>
                </tr>
                <tr>
	                <td>客户姓名:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderCustomerName" th:value="${order.orderCustomerName}"></input></td>
	                <td>合同编号:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderContractNumber" th:value="${order.orderContractNumber}"></input></td>
	                <td>安装日期:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderInsDate" th:value="${order.orderInsDate}"></input></td>
                </tr>
                <tr>
	                <td>客户电话:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderCustomerTelephone" th:value="${order.orderCustomerTelephone}"></input></td>
	                <td>客户手机:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderCustomerPhone" th:value="${order.orderCustomerPhone}"></input></td>
	                <td>该管日期:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderTubeDate" th:value="${order.orderTubeDate}"></input></td>
                </tr>
                <tr>
	                <td>联系地址:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderAddress" th:value="${order.orderAddress}"></input></td>
	                <td>备注:</td>
	                    <td colspan="3"><input class="easyui-validatebox" type="text" style="width: 400px;" name="orderRemark" th:value="${order.orderRemark}"></input></td>
                </tr>
            </table>
            <div style="display: none;" id="tablehidde"></div>
            <input type="hidden" value="" id="details" name="details"/>
	   </form>
	   <fieldset style="height: 200px; border-width: 1px;">
               <table id="tb1" class="easyui-datagrid" title="" width="100%" height="100%" fit="true" border="0"
           data-options="iconCls: 'icon-edit',rownumbers:true,url:'',singleSelect:false,method:'get',toolbar:'#toolbar1',sortName:'sequence',sortOrder:'asc',onClickRow: onClickRow">
        <thead>
            <tr>
            	<th data-options="field:'ck',checkbox:true"></th>
            	<th data-options="field:'orderId',hidden:true,width:100,align:'center',sortable:'true'">orderId</th>
            	<th data-options="field:'detailId',hidden:true,width:100,align:'center',sortable:'true'">detailId</th>
            	<th data-options="field:'detailSeries',width:200,align:'center',sortable:'true',formatter:function(value,row){
							return row.detailSeriesName;
						},editor:{
							type:'combobox',
							options:{
								valueField:'id',
								textField:'dictdataName',
								method:'get',
								url:'/dictdata/getDataTree?dictCode=XL'
							}
						}">系列</th>
            	<th data-options="field:'detailModel',width:200,align:'center',sortable:'true',editor:'validatebox',formatter:function(value,row){
							return row.detailModelName;
						},editor:{
							type:'combobox',
							options:{
								valueField:'id',
								textField:'dictdataName',
								method:'get',
								url:'/dictdata/getDataTree?dictCode=XH'
							}
						}">型号</th>
            	<th data-options="field:'detailNumberGroup',width:100,align:'center',sortable:'true',editor:'validatebox'">组数</th>
            	<th data-options="field:'detailNumber',width:100,align:'center',sortable:'true',editor:'validatebox'">片数</th>
            	<th data-options="field:'detailTotalNumber',width:100,align:'center',sortable:'true',editor:'validatebox'">片数小计</th>
            	<th data-options="field:'detailRoom',width:100,align:'center',sortable:'true',editor:'validatebox'">房间</th>
            	<th data-options="field:'detailHight',width:100,align:'center',sortable:'true',editor:'validatebox'">高</th>
	            <th data-options="field:'detailWidth',width:100,align:'center',sortable:'true',editor:'validatebox'">宽</th>
	            <th data-options="field:'detailUnit',width:100,align:'center',sortable:'true',editor:'validatebox'">单位</th>
	            <th data-options="field:'detailColor',width:100,align:'center',sortable:'true',editor:'validatebox'">颜色</th>
	            <th data-options="field:'detailWaterType',width:100,align:'center',sortable:'true',editor:'validatebox'">进水方式</th>
	            <th data-options="field:'detailCenterDistance',width:100,align:'center',sortable:'true',editor:'validatebox'">中心距</th>
	            <th data-options="field:'detailInterfaceCaliber',width:100,align:'center',sortable:'true',editor:'validatebox'">接口口径</th>
	            <th data-options="field:'detailMarketPrice',width:100,align:'center',sortable:'true',editor:'validatebox'">市场单价</th>
	            <th data-options="field:'detailMarketPriceAmount',width:100,align:'center',sortable:'true',editor:'validatebox'">市场价金额</th>
	            <th data-options="field:'detailMarketRetailPrice',width:100,align:'center',sortable:'true',editor:'validatebox'">市场零售价</th>
	            <th data-options="field:'detailMarketRetailPriceAmount',width:100,align:'center',sortable:'true',editor:'validatebox'">市场零售价金额</th>
	            <th data-options="field:'detailCustomFee',width:100,align:'center',sortable:'true',editor:'validatebox'">定制费单价</th>
	            <th data-options="field:'detailTotalCustomFee',width:100,align:'center',sortable:'true',editor:'validatebox'">定制费小计</th>
	            <th data-options="field:'detailShouldProduce',width:100,align:'center',sortable:'true',editor:'validatebox'">应生产量</th>
	            <th data-options="field:'detailDeliveryTime',width:100,align:'center',sortable:'true',editor:'validatebox'">发货时间</th>
	            <th data-options="field:'detailRemark',width:200,align:'center',sortable:'true',editor:'validatebox'">备注</th>
	            <th data-options="field:'detailOrderStatus',width:100,align:'center',sortable:'true',editor:'validatebox'">订单状态</th>
	            <th data-options="field:'detailGeneratedStatus',width:100,align:'center',sortable:'true',editor:'validatebox'">生产状态</th>
            </tr>
        </thead>
   	</table>
   	<div id="toolbar1" class="easyui-layout" style="height:35px;margin:3px;">
        <div data-options="region:'center',border:false">
          <a class="easyui-linkbutton" icon="icon-add-new" plain="true" href="javascript:append()" >新增</a>
          <a class="easyui-linkbutton" icon="icon-remove-new"  plain="true" href="javascript:remove()">删除</a>
         </div>
    </div>
            </fieldset>
            <table cellpadding="5" id="table2">
	   	         <tr>
                    <td>附加金额:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderAdditionalAmount" th:value="${order.orderAdditionalAmount}"></input></td>
                    <td>附加金额说明:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderAdditionalRemark" th:value="${order.orderAdditionalRemark}"></input></td>
                    <td>销售金额:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderSalesAmount" th:value="${order.orderSalesAmount}"></input></td>
                </tr>
                <tr>
                <td>订货总数:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderTotal" th:value="${order.orderTotal}"></input></td>
                 <td>片数合计:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderTotalNumber" th:value="${order.orderTotalNumber}"></input></td>
                <td>付款:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderPayment" th:value="${order.orderPayment}"></input></td>
                </tr>
                <tr>
                <td>保证金:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderMargin" th:value="${order.orderMargin}"></input></td>
                 <td>应付款总额:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderTotalPayment" th:value="${order.orderTotalPayment}"></input></td>
                <td>可用余额:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderAvailableBalance" th:value="${order.orderAvailableBalance}"></input></td>
                    <td>信用额度:</td>
                    <td><input class="easyui-validatebox" type="text" name="orderCredits" th:value="${order.orderCredits}"></input></td>
                </tr>
                <tr>
	                <td>订货时间:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderTime" th:value="${order.orderTime}"></input></td>
	                <td>交货时间:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderDeliveryTime" th:value="${order.orderDeliveryTime}"></input></td>
	                <td>订单状态:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderStatus" th:value="${order.orderStatus}"></input></td>
                </tr>
                <tr>
	                <td>订单审核人:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderReview" th:value="${order.orderReview}"></input></td>
	                <td>财务审核人:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderFinancialAudit" th:value="${order.orderFinancialAudit}"></input></td>
	                <td>制单:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderSingle" th:value="${order.orderSingle}"></input></td>
                </tr>
                <tr>
	                <td>订单审核时间:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderReviewTime" th:value="${order.orderReviewTime}"></input></td>
                    <td>财务审核时间:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderFinancialAuditTime" th:value="${order.orderFinancialAuditTime}"></input></td>
	                <td>制单时间:</td>
	                    <td><input class="easyui-datetimebox" type="text" name="orderSingleTime" th:value="${order.orderSingleTime}"></input></td>
                </tr>
                 <tr>
	                <td>经销商:</td>
	                    <td>
	                     <select class="easyui-combobox" name="orderDealer" style="width: 148px;" >
	           				  	    <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'JXS')}" th:selected="${#strings.contains(order.orderDealer,dict1.id)}"></option>
	           					</select>
	                <td >类型:</td>
	                    <td colspan="3">
                          <select class="easyui-combobox" name="orderType" style="width: 150px;">
                           <option value="1" th:selected="${#strings.contains(order.orderType,1)}">返货</option>
                           <option value="0" th:selected="${#strings.contains(order.orderType,0)}">退货</option>
                         </select>
	                    </td>
                </tr>
                <tr>
	                <td>客户分类:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderCustomerType" th:value="${order.orderCustomerType}"></input></td>
                    <td>所属区域:</td>
	                    <td colspan="3"><input class="easyui-validatebox" type="text" name="orderCustomerAddress" th:value="${order.orderCustomerAddress}"></input></td>
                </tr>
                <tr>
	                <td>联系人:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderContact" th:value="${order.orderContact}"></input></td>
                    <td>联系电话:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderContactPhone" th:value="${order.orderContactPhone}"></input></td>
	                <td>传真:</td>
	                    <td><input class="easyui-validatebox" type="text" name="orderContactFax" th:value="${order.orderContactFax}"></input></td>
                </tr>
            </table>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	var orderId=[[${orderId}]]
	
	$(function(){
		$('#tb1').datagrid({
			url: '/orderDetails/getDataTree?orderId='+orderId
		})
		
	})
	function submitForm(){
		$('#tb1').datagrid('acceptChanges');
		/* var selRow = $('#tb1').datagrid('getSelections');
		alert(JSON.stringify(selRow)) */
		var data=$('#tb1').datagrid("getData"); 
		$("#details").val(JSON.stringify(data.rows));
		$('#table2').clone(true).appendTo('#tablehidde')
		
        $('#myfm').form('submit',{
            url: '/orders/edit.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	var editIndex = undefined;
	function append(){
	    editIndex = $('#tb1').datagrid('getRows').length;
	    if(!editIndex){
	    	editIndex=0;
	    }
		/* if (editIndex!=0&&$('#tb1').datagrid('validateRow', editIndex)){
			var ed = $('#tb1').datagrid('getEditor', {index:editIndex,field:'detailSeries'});
			alert(JSON.stringify(ed))
			var detailSeriesName = $(ed.target).combobox('getText');
			alert(detailSeriesName)
		} */
			$('#tb1').datagrid('appendRow',{orderId:orderId});
			$('#tb1').datagrid('selectRow', editIndex)
					.datagrid('beginEdit', editIndex);
	}
	function remove(){
		var selRow = $('#tb1').datagrid('getSelections');
		if (selRow == null || selRow.length == 0) { 
        	return false;
        }else{
        	var rowIndex=$('#tb1').datagrid('getRowIndex',$('#tb1').datagrid('getSelected'));  
        	var rows = $('#tb1').datagrid('getRows');
        	var row = rows[rowIndex];
        	if(row.detailId!=null&&row.detailId!=''&&row.detailId!=undefined){
        		$.ajax( {
    				url : '/orderDetails/delete?ids='+row.detailId,
    				dataType:'text',
    				type: 'delete',
    				success : function(result) {
    					if ("success"==result){
    					}else{
    					}
    					
    				}
    			});
        		
        	}
        	$('#tb1').datagrid('deleteRow',rowIndex);
        	 remove();
        }
	}
	function onClickRow(index){
		if (editIndex != index){
				$('#tb1').datagrid('selectRow', index)
						.datagrid('beginEdit', index);
				editIndex = index;
		}
	}
	</script>
</body>

