<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link th:href="@{/easy_ui/wopop/style_log.css}" rel="stylesheet" >
<link rel="stylesheet"  th:href="@{/easy_ui/wopop/style.css}">
<link rel="stylesheet" th:href="@{/easy_ui/wopop/userpanel.css}">
<link rel="stylesheet"  th:href="@{/easy_ui/wopop/jquery.ui.all.css}">

</head>

<body class="login" mycollectionplug="bind">
<div class="login_m">
<div class="login_logo"><img th:src="@{/img/logo1.png}" width="380" height="52"></div>
<div class="login_boder">

<div class="login_padding" id="login_model">
<form id="loginform" class="form-vertical" th:action="@{/login}" action="" method="post">
  <h2>用户名</h2>
  <label>
    <input type="text" name="username" id="username" class="txt_input txt_input2" >
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="password" id="userpwd" class="txt_input" >
  </label>
 
 

 <p class="forgot"><a id="iforget" href="javascript:void(0);" th:text="${msg}"></a></p>
  <div class="rem_sub">
  <div class="rem_sub_l">
  <input type="checkbox" name="checkbox" id="save_me">
   <label for="checkbox">Remember me</label>
   </div>
    <label>
      <input type="submit" class="sub_button" name="button" id="button" value="登录" style="opacity: 0.7;">
    </label>
  </div>
  </form>
</div>







<!--login_padding  Sign up end-->
</div><!--login_boder end-->
</div><!--login_m end-->
 <br> <br>



</body></html>