<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.study.model.OrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="detail_series" jdbcType="VARCHAR" property="detailSeries" />
    <result column="detail_model" jdbcType="VARCHAR" property="detailModel" />
    <result column="detail_number_group" jdbcType="INTEGER" property="detailNumberGroup" />
    <result column="detail_number" jdbcType="INTEGER" property="detailNumber" />
    <result column="detail_total_number" jdbcType="INTEGER" property="detailTotalNumber" />
    <result column="detail_room" jdbcType="VARCHAR" property="detailRoom" />
    <result column="detail_hight" jdbcType="DOUBLE" property="detailHight" />
    <result column="detail_width" jdbcType="DOUBLE" property="detailWidth" />
    <result column="detail_unit" jdbcType="VARCHAR" property="detailUnit" />
    <result column="detail_color" jdbcType="VARCHAR" property="detailColor" />
    <result column="detail_water_type" jdbcType="VARCHAR" property="detailWaterType" />
    <result column="detail_center_distance" jdbcType="VARCHAR" property="detailCenterDistance" />
    <result column="detail_interface_caliber" jdbcType="VARCHAR" property="detailInterfaceCaliber" />
    <result column="detail_market_price" jdbcType="DOUBLE" property="detailMarketPrice" />
    <result column="detail_market_price_amount" jdbcType="DOUBLE" property="detailMarketPriceAmount" />
    <result column="detail_market_retail_price" jdbcType="DOUBLE" property="detailMarketRetailPrice" />
    <result column="detail_market_retail_price_amount" jdbcType="DOUBLE" property="detailMarketRetailPriceAmount" />
    <result column="detail_custom_fee" jdbcType="DOUBLE" property="detailCustomFee" />
    <result column="detail_total_custom_fee" jdbcType="DOUBLE" property="detailTotalCustomFee" />
    <result column="detail_should_produce" jdbcType="DOUBLE" property="detailShouldProduce" />
    <result column="detail_delivery_time" jdbcType="VARCHAR" property="detailDeliveryTime" />
    <result column="detail_remark" jdbcType="VARCHAR" property="detailRemark" />
    <result column="detail_order_status" jdbcType="VARCHAR" property="detailOrderStatus" />
    <result column="detail_generated_status" jdbcType="VARCHAR" property="detailGeneratedStatus" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
  </resultMap>
  
  
 <select id="getDetailsByOrderId" resultType="com.study.model.OrderDetail" parameterType="com.study.model.OrderDetail">
 
   select  detail_id as "detailId",detail_series as "detailSeries",(select dictdata_name from dictionarydata where id=detail_series) as "detailSeriesName", detail_model as "detailModel",(select dictdata_name from dictionarydata where id=detail_model) as "detailModelName",
           detail_number_group as "detailNumberGroup",detail_number as "detailNumber",
           detail_total_number as "detailTotalNumber",detail_room as "detailRoom",detail_hight as "detailHight",
           detail_width as "detailWidth",detail_unit as "detailUnit",detail_color as "detailColor",
           detail_water_type as "detailWaterType",detail_center_distance as "detailCenterDistance",
           detail_interface_caliber as "detailInterfaceCaliber",detail_market_price as "detailMarketPrice",
           detail_market_price_amount as "detailMarketPriceAmount",detail_market_retail_price as "detailMarketRetailPrice",
           detail_market_retail_price_amount as "detailMarketRetailPriceAmount",detail_custom_fee as "detailCustomFee",
           detail_total_custom_fee as "detailTotalCustomFee",detail_should_produce as "detailShouldProduce",
           detail_delivery_time as "detailDeliveryTime",detail_remark as "detailRemark",detail_order_status as "detailOrderStatus",
           detail_generated_status as "detailGeneratedStatus",order_id as "orderId" from orders_detail where 1=1
           <if test="orderId!=null and orderId!=''">
           and order_id=#{orderId}
           </if>
 
 </select>
</mapper>